# Auto detect text files and perform LF normalization
* text=auto eol=lf working-tree-encoding=UTF-8

Dockerfile    text eol=lf
*.sh          text eol=lf
*.mk          text eol=lf
*.yml         text eol=lf
*.yaml        text eol=lf
Makefile      text eol=lf
